MYSQL_PORT=3308
MYSQL_DATABASE=change-me-db-name
MYSQL_USER=change-me-user
MYSQL_PASSWORD=change-me-password
MYSQL_ROOT_PASSWORD=change-me-root-password
TZ=Asia/Seoul

DB_URL=jdbc:mysql://localhost:3308/change-me-db-name?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
DB_USERNAME=change-me-user
DB_PASSWORD=change-me-password

NAVER_CLIENT_ID=change-me-naver-client-id
NAVER_CLIENT_SECRET=change-me-naver-client-secret
NAVER_SHOPPING_API_PATH=/v1/search/shop.json
